/* Intestazione Generali della pagina */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Inter', sans-serif;
}

a:focus, a:hover{
  color: blue;
  text-decoration: none;
}

.contenitore-principale{
  width: 80%;
  margin:0 auto;
}

/* Header */
header{
  background-color: white;
}

.margine-1{
  margin-top: 50px;
}

/* Navigazione */

@media all and (min-width: 768px) and (max-width: 1199px) {
  .navbar-toggle{
    display: block;
    margin-right: 0;
  }

  .navbar-header{
    width: 100%;
  }

  .navbar-collapse.collapse {
    display: none!important;
  }
}

.back-white{
  background-color: white;
}

#logo{
  max-height: 40px;
  margin-top: 20px;
  margin-right: 50px;
}

.navigazione{
  background-color: white;
  border: none;
  height: 90px;
  margin: 0 auto;
}

.margine-sopra-sinistra{
  margin-top: 20px;
}

.navbar-default .navbar-nav > li > a{
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #006aff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  background-color: white;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 370px;
}

.margine-sopra-destra{
  margin-top: 20px;
}

.buton-sign{
  border-color: #006aff;
  font-size: 16px;
  color: #006aff;
}

.navbar-default .navbar-toggle {
  margin-top: 25px;
  border: none;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #006aff;
}

.buton-sign:hover{
  background-color: #006aff;
  color: white;
}

/* Main */

/* The simplest cloud for developer */

.jumbo-top{
  margin-top: 90px;
}

#sfondo-fish{
  background-image: url("../img/jumbo.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contenitore-titolo h1{
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.contenitore-titolo p{
  color: lightgrey;
  font-size: 20px;
  margin: 15px 0 15px 0;
}

.contenitore-deploy{
  background-color: white;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 50px;
}

.contenitore-deploy h2{
  padding-top: 20px;
  font-weight: bold;
}

.contenitore-deploy a h2{
  padding-bottom: 10px;
}

.contenitore-deploy a h2:hover{
  color: #006aff;
}

/* form sign */

.form-sign-in input{
  font-size: 16px;
  font-weight: bold;
  border: none;
  border: 1px solid;
  border-color: rgba(108, 117, 125, 0.21);
  border-radius: 5px;
  height: 40px;
  width: 90%;
  margin: 7px 5%;
  padding-left: 5px;
}

.fix-account{
  background-color: rgb(0, 146, 252);
  color: white;
  display: inline-block;
  width: 90%;
  padding: 5px 0;
  border-radius: 5px;
  margin: 5px 0;
}

.fix-account:hover{
  background-color: #006aff;
}

.google-login a{
  color: rgb(84, 84, 84);
  font-weight: bold;
  display: inline-block;
  width: 90%;
  padding: 5px 0;
  border: 1px solid;
  border-radius: 5px;
  margin: 5px 0;
  padding-right: 10px;
  position: relative;
}

.google-login a:hover{
  background-color: rgba(108, 117, 125, 0.6) ;
}

.google-login img{
  max-height: 25px;
  padding-right: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 2px 5px;
}

.licencia{
  margin-top: 10px;
  padding-bottom: 20px;
}

.terms-service{
  color: rgb(0, 146, 252);
}

.terms-service:hover{
  text-decoration: underline;
}

/* Customers */

.sfondo-grey{
  background-color: #f3f5f9;
}

.centratura{
  text-align: center;
}

.margin-customers{
  margin: 40px 0;
  font-weight: bold;
  color: rgb(84, 84, 84);
}

.margin-customers-2{
  font-size: 16px;
  margin: 25px 0;
}

.contenitore-customers img{
  max-width: 100%;
  height: 150px;
}


/* Scale seamlessly  */

.contenitore-seamlessly{
  margin: 50px 0;
}

.contenitore-seamlessly h2{
  font-size: 35px;
  font-weight: bold;
  color: rgba(0, 29, 68, 1);
  padding-bottom: 10px;
}

.font-misure{
  font-size: 22px;
  color: rgb(84, 84, 84);
  padding-bottom: 40px;
}

ul.scala-deploy{
  border-left: 2px solid;
  border-color: rgb(84, 84, 84);
}

.scala-deploy li{
  list-style: none;
  font-size: 18px;
  padding: 5px 0 10px 5px;
  color: rgb(84, 84, 84);
}

.pad-sez-scale img, .pad-sez-scale h4, .pad-sez-scale p{
  padding: 7px 0;
}

.pad-sez-scale p{
  font-size: 16px;
  color: rgb(84, 84, 84);
}

.pad-sez-scale h4{
  font-size: 22px;
  color: rgba(0, 29, 68, 1);
}

/* Designed for developers */

.contenitore-designed{
  margin: 50px 0;
}

.contenitore-designed h2{
  font-size: 35px;
  font-weight: bold;
  color: rgba(0, 29, 68, 1);
}

.contenitore-designed p{
  font-size: 20px;
  font-weight: 600;
  color: rgb(84, 84, 84);
  padding: 25px 0;
}

.img-frecce i{
  font-size: 45px;
}

.img-frecce .fa-angle-left{
  color: rgba(0, 29, 68, 0.6);
  padding-right: 20px;
}

.img-frecce .fa-angle-right{
  color: rgba(0, 29, 68, 1);
  padding-left: 20px;
}

.img-frecce img{
  max-width: 100%;
  height: 400px;
  margin: 30px 0;
}

.cerchi{
  color: rgba(0, 95, 222, 1);
}

.contenitore-designed h4{
  color: rgba(0, 29, 68, 1);
  margin-bottom: 15px;
}

@media all and (max-width: 768px){
  .col-xs-12 .fa-angle-left, .col-xs-12 .fa-angle-right{
    display: none;
  }
}

/* The features your business needs */

#margine-testo{
  font-size: 35px;
  font-weight: bold;
  margin: 50px 0 40px 0;
  text-align: center;
  color: rgba(0, 29, 68, 1);
}

.contenitore-features h4{
  color: rgba(0, 29, 68, 1);
  font-weight: bold;
  margin: 15px 0;
}

.contenitore-features img{
  margin-top: 15px;
}

.contenitore-features p{
  font-size: 16px;
  color: rgb(84, 84, 84);
}

.margine-sotto{
  margin-bottom: 60px;
}


/* 12 Regions */

.back-blue-gradient{
  background: linear-gradient(to bottom, #2285fd, #031c4e);
}

.margine-h2{
  color: white;
  margin: 70px 0 20px 0;
  font-weight: bold;
  font-size: 37px;
}

/* Tabella */

.table .no-border-top{
  border: none;
}

.table-hover > tbody > tr:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.tabella-velocita tr th{
  color: white;
}

.tabella-velocita td:first-line{
  color: rgba(154, 154, 154, 1);
}

.tabella-velocita td:last-child{
  font-weight: bold;
  text-align: right;
}

/* Love DigitalOcean */

.contenitore-love-ocean{
  margin-bottom: 60px;
  position: relative;
}

.contenitore-love-ocean .cerchi{
  margin-top: 25px;
}

.contenitore-rockerbox{
  background-color: white;
  margin: 0 20%;
  border-radius: 5px;
}

.contenitore-love-ocean .fa-angle-left{
  position: absolute;
  left: 15%;
  top: 32%;
  font-size: 45px;
  color: rgba(0, 29, 68, 0.6);
}

.contenitore-love-ocean .fa-angle-right{
  position: absolute;
  right: 15%;
  top: 32%;
  font-size: 45px;
  color: rgba(0, 29, 68,);
}

@media all and (max-width: 768px){
  .contenitore-love-ocean .fa-angle-left, .contenitore-love-ocean .fa-angle-right{
    display: none;
  }
}

.contenitore-rockerbox img{
  margin: 60px 0 25px 0;
}

.contenitore-rockerbox p{
  font-size: 24px;
  font-weight: bold;
  color: rgb(84, 84, 84);
}

.contenitore-rockerbox h5{
  font-size: 16px;
  color: rgba(0, 29, 68, 1);
  margin: 10px 0;
}

.contenitore-rockerbox h6{
  margin-top: 50px;
  padding-bottom: 50px;
  font-size: 16px;
}

/* Started now */

.contenitore-started h2{
  color: white;
  font-size: 35px;
  font-weight: bold;
  margin: 70px 0 30px 0;
}

.contenitore-started .btn{
  padding: 10px 20px;
  font-size: 16px;
  color: rgb(0, 125, 255);
  font-weight: bold;
  margin-bottom: 50px;
}

/* Footer */

.contenitore-footer{
  margin: 70px 0;
}

.back-blue-scuro{
  background-color: rgb(0, 13, 80);
}

.contenitore-footer ul {
  list-style-type: none;
}

.lista-footer li h4{
  color: white;
  font-weight: bold;

}

.lista-footer li a{
  color: rgb(170, 170, 170);
  font-size: 16px;
}

.lista-footer li{
  margin: 10px 0;
}

.lista-footer li a:hover{
  color: white;
}

.social-network{
  font-size: 25px;
}

.social-network i{
  padding: 10px 5px;
  color: rgb(170, 170, 170);
}

.social-network i:hover{
  color: white;
}

#footer-tekst{
  font-size: 16px;
  color: rgb(170, 170, 170);
  margin: 5px 0;
}

#footer-tekst-2{
  color: rgb(131, 131, 131);
  margin: 5px 0;
}

/* Help */

.help{
  position: fixed;
  font-size: 35px;
  background-color: #006aff;
  border-radius: 10px;
  padding: 8px 16px;
  z-index: 950;
  bottom: 20px;
  right: 20px;
}

.help i{
  color: white;
}

.notifica{
  border: 5px solid white;
  font-size: 20px;
  position: absolute;
  width: 40px;
  left: 45px;
  bottom: 45px;
  background-color: red;
  border-radius: 50%;
  padding-left: 9px;
  color: white;
}

.need-help{
  display: none;
  position: absolute;
  width: 300px;
  right: 80px;
  bottom: 5px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
}

.need-help h5{
  font-size: 15px;
}

.help:hover .need-help{
  display: block;
}

@media all and (max-width: 767px){
  .help{
    display: none;
  }
}
